{{!-- Carousel --}}
<div id="indexCarousel" class="carousel fade" data-ride="carousel">
  {{!-- Indicators --}}
	<ol class="carousel-indicators">
    <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#indexCarousel" data-slide-to="1" ></li>
    <li data-target="#indexCarousel" data-slide-to="2" ></li>
	</ol>
	{{!-- End Indicators --}}
	<div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="#" onclick="">
        <span class="img-holder third-slide" style="background-image:url('https://akela.mendelu.cz/~xkrenar/game/database_image_path/web/index/MH_index-1680-380_01.jpg')">
        </span>
      </a>
    </div>
    <div class="item ">
      <a href="#" onclick="">
        <span class="img-holder third-slide" style="background-image:url('https://akela.mendelu.cz/~xkrenar/game/database_image_path/web/index/MH_index-1680-380_02.jpg')">
        </span>
      </a>
    </div>
    <div class="item ">
      <a href="#" onclick="">
        <span class="img-holder third-slide" style="background-image:url('https://akela.mendelu.cz/~xkrenar/game/database_image_path/web/index/MH_index-1680-380_03.jpg')">
        </span>
      </a>
    </div>
	</div>
</div>
{{!-- End Carousel --}}

<div class="jumbotron" id="jumbo">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			{{!-- First Content --}}
			<div class="content">
				<div class="jumbotron" id="jumbotron8">
					<a href="">
						<div class="navbar-inverse" id="news-header">
							New Website Design
						</div>
					</a>
					<div class="news-date">
						<p>from <cite>The Magical Heroes Team</cite> today at 11:09 AM</p>
					</div>
					<div class="row featurette">
						<div class="col-sm-4 col-md-4">
							<div class="content-image">
								<a href=""><img class="img-responsive img-thumbnail img-thumb" src="https://akela.mendelu.cz/~xkrenar/game/database_image_path/web/index/thumbnails/crystal_thumb.jpg" alt="Crystal"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="content">
								<p id="news-content-heading">Dear Heroes,</p>
								<p id="news-content">
									We are glad to announce that new website design is finished now!<br>
									We hope you like it.<br>
									Thanks for support and have fun.
								</p>
								<p id="news-read-more"><a href="">Read more<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{!-- End First Content --}}
			{{!-- Second Content --}}
			<div class="content">
				<div class="jumbotron" id="jumbotron8">
					<a href="">
						<div class="navbar-inverse" id="news-header">
							Christmas Event
						</div>
					</a>
					<div class="news-date">
						<p>from <cite>The Magical Heroes Team</cite> yesterday at 7:41 PM</p>
					</div>
					<div class="row featurette">
						<div class="col-sm-4 col-md-4">
							<div class="content-image">
								<a href=""><img class="img-responsive img-thumbnail img-thumb" src="https://akela.mendelu.cz/~xkrenar/game/database_image_path/web/index/thumbnails/leona_thumb.jpg" alt="Leona"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="content">
								<p id="news-content-heading">Dear Heroes,</p>
								<p id="news-content">
									Winter is inevitably coming! On December 1st., Frosty the Snowman will make a return visit you and your heroes...
									He brings with him new quests for the winter season.
									Each day of the event brings a new challenge you can complete in ...
								</p>
								<p id="news-read-more"><a href="">Read more<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{!-- End Second Content --}}
			{{!-- Third Content --}}
			<div class="content">
				<div class="jumbotron" id="jumbotron8">
					<a href="">
						<div class="navbar-inverse" id="news-header">
							Patch 0.0.161204_2141
						</div>
					</a>
					<div class="news-date">
						<p>from <cite>The Magical Heroes Team</cite> on 11/29/16 at 3:03 PM</p>
					</div>
					<div class="row featurette">
						<div class="col-sm-4 col-md-4">
							<div class="content-image">
								<a href=""><img class="img-responsive img-thumbnail img-thumb" src="https://akela.mendelu.cz/~xkrenar/game/database_image_path/web/index/thumbnails/crystal_thumb.jpg" alt="Crystal"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="content">
								<p id="news-content-heading">Dear Heroes,</p>
								<p id="news-content">
									Winter is inevitably coming! On December 1st., Frosty the Snowman will make a return visit you and your heroes...
									He brings with him new quests for the winter season.
									Each day of the event brings a new challenge you can complete in ...
								</p>
								<p id="news-read-more"><a href="">Read more<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{!-- End Third Content --}}
		</div>
		{{!-- Login Content --}}
		<div class="col-xs-12 col-md-4">

			{{#if user}}

			<div class="content-login">
				<div class="jumbotron" id="jumbotron4">
					<div class="navbar-inverse" id="login-header">
						PLAY MAGICAL HEROES
					</div>
					<div class="my-form">
						<div class="col-md-12" id="logged">
							<a href="/play/{{ user.username }}" type="button" class="btn btn-default">Play now</a>
						</div>
						<label></label>
					</div>
				</div>
			</div>

			{{else}}

			<div class="content-login">
				<div class="jumbotron" id="jumbotron4">
					<div class="navbar-inverse" id="login-header">
						LOGIN
					</div>
					<div class="my-form">
						<form method="post" action="/users/login">
							<div class="form-group">
								<div class="col-md-12">
									<div class="input-group margin-bottom-sm">
									  <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
									  <!-- <input class="form-control" type="username" placeholder="Username"> -->
										<input type="text" class="form-control" name="username" placeholder="Username">
									</div>
						    	<!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
								</div>
						  </div>
						  <div class="form-group">
								<div class="col-md-12">
									<div class="input-group">
									  <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
									  <!-- <input class="form-control" type="password" placeholder="Password"> -->
										<input id="password-field" type="password" class="form-control" name="password" placeholder="Password">
										<span class="input-group-addon">
											<i class="fa fa-eye fa-fw field-icon toggle-password" toggle="#password-field"></i>
										</span>
									</div>
						    	<!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
								</div>
								<!-- <div class="col-md-1">
									<div class="col-question-sign">
										<a href=""><img src="img/icons/question-mark.svg" class="question-sign"></a>
									</div>
								</div> -->
						  </div>
							<!-- <div class="checkbox checkbox-primary checkbox-inline content">
								<input type="checkbox" id="checkbox" value="option1">
								<label for="checkbox">Remeber me</label>
							</div> -->
						  <div class="squaredThree">
								<input type="checkbox" name="optionsRadios" id="checkOther" value="other" ng-model="formData.other"
								ng-true-value="'other'" ng-init="formData.other='other'" checked="">
									<label for="checkOther"></label>
							</div>
					    <label class="label-checkbox">
					    	Remember me
					    </label>
							<label class="reset-password">
								<a href="">Forgot your password?</a>
							</label>
							<div class="col-md-12">
								<!-- <a href="" type="button" class="btn btn-default">Login</a> -->
								<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
								<button type="submit" class="btn btn-default">Login</button>
								<!-- <button type="button" class="btn btn-default" id="btn-default-signup">Sign up</button> -->
							</div>
							<!-- <hr>
							<div class="div-hr">
								<!- <a href=""><img src="img/icons/facebook-icon.svg" class="facebook"></a>
								<a href=""><img src="img/icons/google-plus-icon.svg" class="google-plus"></a>
								<a href=""><img src="img/icons/twitter-icon.svg" class="twitter"></a> ->
								<a href="" class="btn btn-block btn-social btn-facebook">
									<span class="fa fa-facebook"></span>Sign in with Facebook
								</a>
								<a href="" class="btn btn-block btn-social btn-google">
							    <span class="fa fa-google-plus"></span>Sign in with Google+
							  </a>
								<a href="" class="btn btn-block btn-social btn-twitter">
							    <span class="fa fa-twitter"></span>Sign in with Twitter
							  </a>
							</div> -->
						</form>
					</div>
				</div>
			</div>

		{{/if}}

		</div>
		{{!-- End Login Content --}}
	</div>
</div>
