<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport meta tag is critical to have mobile browsers
    actually report correct screen dimensions -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Magical Heroes Game">
    <meta name="author" content="David Krénar">
    <!-- <link rel="icon" href="/img/game/favicon.png"> -->
    <title>{{title}}</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="/css/style-play.css" />
    <style>
    /* Center the loader */
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 }
      to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom {
      from{ bottom:-100px; opacity:0 }
      to{ bottom:0; opacity:1 }
    }

    #myDiv {
      display: none;
      text-align: center;
    }

    /** {
      position: absolute;
      margin: 0; padding: 0;
    }*/

    input[type="text"] {
      border: 0;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      padding: 6px;
      font-size: 18px;
      width: 200px;
      text-transform: uppercase;
      top: 30px;
      left: 130px;
      background: none;
      color: #fff;
    }

    input[type="submit"] {
      display: block;
      width: 100px;
      border: 1px solid #fff;
      line-height: 35px;
      border-radius: 5px;
      height: 35px;
      color: #fff;
      font-size: 18px;
      top: 30px;
      left: 350px;
      cursor: pointer;
      background: transparent;
    }

    input[type="submit"]:hover {
      background: #fff;
      color: #28abf6;
    }

    form {
      width: 600px;
      height: 100px;
      position: absolute;
      z-index: 100;
      margin: 0; padding: 0;
    }
    </style>
    <script type="text/javascript" src="/js/preloader.js" charset="utf-8"></script>
  </head>
  <!-- <body onload="myFunction()" style="margin:0"> -->
  <body>
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
      <!-- <script src="/js/stats.min.js"></script> -->
      <!-- <script src="/js/CanvasInput.js"></script> funguje -->
      <script type="text/javascript" src="/js/bundle.js" charset="utf-8"></script>
      <!-- <script src="/js/pixi.min.js"></script>
      <script src="/js/stats.min.js"></script>
      <script src="/js/game.js"></script> -->
      <!-- <script>init();</script> -->
      <!-- <script>window.addEventListener("load", init);</script> -->
    </div>
    <!-- funguje  -->
    <!-- <canvas id="myCanvas" width="200" height="50" style="cursor: text;"></canvas>
    <script type="text/javascript">
      var input = new CanvasInput({
        canvas: document.getElementById('myCanvas'),
        fontSize: 18,
        fontFamily: 'Arial',
        fontColor: '#212121',
        fontWeight: 'bold',
        width: 300,
        padding: 8,
        borderWidth: 1,
        borderColor: '#000',
        borderRadius: 3,
        boxShadow: '1px 1px 0px #fff',
        innerShadow: '0px 0px 5px rgba(0, 0, 0, 0.5)',
        placeHolder: 'Enter message here...'
      });
    </script> -->
    <!-- <canvas id="text" width="500" height="100"></canvas> -->
    <!-- <form id="form">
      <input type="text" id="inputText" value="HELLO" />
      <input type="submit" value="OK" />
    </form> -->
    <!-- <script>
      var myVar;
      // window.addEventListener("load", myFunction);
      function myFunction() {
        myVar = setTimeout(showPage(), 3000);
      }
      function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }
    </script> -->
  </body>
</html>
